.chat {
    position: fixed;
    z-index: 1;
    height: 100%;
    width: 360px;

    display: flex;
    flex-direction: column-reverse;
}

.chat > div {
    margin: 10px;
}

.chat .center {
    align-self: center;
    text-align: center;
}

.imageListGrid {
    position: relative;
    float: left;
    padding: 10px;
}
